{% extends "base_page.html" %}

{% block pagetitle %}
<div class="container">
<h2> Сайт про изучение китайского </h2>
</div>
{% endblock %}

{% block content %}


<p> Перед использованием необходимо зарегистрироваться </p>
<p> Для навигации по сайту используйте меню сверху </p>
<p> Режим "Тренировки" поможет запоминать ваши иероглифы </p>
<p> Список ваших иероглифов открывается при нажатии на кнопку "Иероглифы" </p>
<p> Там же можно смотреть вашу статистику, а также управлять вашими иероглифами </p>
<p> Форма добавления новых иероглифов доступна при нажатии кнопки "Добавить"






{% endblock %}




