{% extends "base_page.html" %}

{% block pagetitle %}
<div class="container">
<h2> Список ваших иероглифов </h2>
</div>
{% endblock %}

{% block content %}


<div class="container px-4 py-5" id="terms-table">
<div class="table-responsive">
<table class="table table-hover">
<thead>
<tr>
<th scope='col'> Иероглиф </th>
<th scope='col'> Пиньинь </th>
<th scope='col'> Тон </th>
<th scope='col'> Перевод </th>
<th scope='col'> Правильно пиньинь </th>
<th scope='col'> Правильно перевод </th>
</tr>
</thead>
<tbody>
	{% for char, pinyin, tone, translation, char_id, pr, tr, act in items %}
	<tr>
        <td> {{char}} </td>
        <td> {{pinyin}} </td>
        <td> {{tone}} </td>
        <td> {{translation}} </td>
	<td> {{pr}} </td>
	<td> {{tr}} </td>
	 <td>
            <form method="post" action="{% url 'list'%}">
                {% csrf_token %}
                <input name="aim" type='hidden' value='active' />
                <input name="char_id" type='hidden' value={{char_id}} />
			{% if act %} 
			<button type="submit" class="btn btn-light w-100 py-2"> Выключить	</button> 
			{% else %}
			<button type="submit" class="btn btn-dark w-100 py-2"> Включить	</button> 
			{% endif %} 
            </form> 
        </td>




        <td>
            <form method="post" action="{% url 'list'%}">
                {% csrf_token %}
                <input name="aim" type='hidden' value='delete' />
                <input name="char_id" type='hidden' value={{char_id}} />
                <button type="submit" class="btn btn-danger w-100 py-2"> Удалить </button> 
            </form> 
        </td>
    </tr>
	{% endfor %}
</tbody>
</table>
</div>
</div>





{% endblock %}
